<%= render "shared/header"%>
  <div class = "book-list">
    <% if user_session %>
      <%= link_to "本を登録する", new_book_path, class:"register-btn"%>
        <% @books.each do |book| %>
          <% if book.user_id == current_user.id %>
            <div class = "book">
              <%="名前: "%>
              <%= book.name%>
              <%="出版社: "%>
              <%= book.publisher%>社
              <div class = "explanation">
                <%= "説明: "%>
                <%= book.explanation%>
              </div>
              <%= link_to "削除", book_path(id: book.id), method: :delete, class:"show-btn" %>
            </div>
          <% end %>
        <% end %>
    <% end %>
  </div>