<%= render "shared/second-header" %>
<%= form_with model: @book, url: books_path, local: true do |f| %>
  <div class = "label">
    <%= f.label "名前"%>
  </div>
  <div class = "field">
    <%= f.text_field :name%>
  </div>
  <div class = "label">
    <%= f.label "ジャンル"%>
  </div>
  <div class = "select-genre">
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {}%>
  </div>
  <div class ="label">
    <%= f.label "ジャンルその他"%>
  </div>
  <div class = "field">
    <%= f.text_field :exception%>
  </div>
  <div class = "label">
  <%= f.label "出版社"%>
  </div>
  <div class = "field">
    <%= f.text_field :publisher%>
  </div>
  <div class = "label">
    <%= f.label "説明"%>
  </div>
  <div class = "field">
    <%= f.text_field :explanation%>
  </div>
  <div class = "submit">
    <%= f.submit "本を登録", class:"submit-btn"%>
  </div>
<% end %>